CA_CERT_PATH=certs/cloud-ca.pem

SERVER_KEY_PATH=certs/cloud-server.key
SERVER_CERT_PATH=certs/cloud-server.pem
SERVER_HOST=grpc.cloudfirewall.io
SERVER_PORT=50051

JWT_ADMIN =
JWT_INSTANCE =
ADMIN_USER =
ADMIN_PASSWORD =

AGENT_UUID=<SOME UUID>
AGENT_KEY_PATH=certs/cloud-agent.key
AGENT_CERT_PATH=certs/cloud-agent.pem